<div class="container p-5 my-3 border">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Passeword</th>
                <th>Email</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of user.user">
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.passeword}}</td>
                <td>{{item.mail}}</td>
                <td><button  class="btn btn-success" (click)="onEditUser(item.id)">Edit user</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="goBack()">Back to users</button>
</div>


