<div class="container p-5 my-3 border">
    <h6>La liste des utilisateurs</h6>
    <table class="table table-bordered table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Passeword</th>
                <th>Mail</th>
                <th>Profil</th>
                <th>Destroy</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users.users" >
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.passeword}}</td>
                <td>{{user.mail}}</td>
                <td><button class="btn-success" (click)="onViewUser(user.id)"><mat-icon>visibility</mat-icon></button></td>
                <td><button  mat-icon-button class="btn-danger"  (click)="onDeleteUser(user.id)"><mat-icon>delete_forever</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
</div>